<!DOCTYPE html>
<html ng-app="app.anonymousApp">
<head>
    <title>Welcome to NDC</title>
    <script type="text/javascript">
        var SHARE_SETTING_JSON_STRING = '{{ SHARE_SETTING_JSON_STRING | safe}}';
    </script>

    <link rel="stylesheet" href="{{STATIC_URL}}bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="{{STATIC_URL}}bower_components/bootstrap/dist/css/bootstrap-theme.css"> 
    <link rel="stylesheet" href="{{STATIC_URL}}bower_components/angular-block-ui/dist/angular-block-ui.css">

    <script src="{{STATIC_URL}}bower_components/jquery/dist/jquery.js"></script>
    <script src="{{STATIC_URL}}bower_components/angular/angular.js"></script>
    <script src="{{STATIC_URL}}bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="{{STATIC_URL}}bower_components/angular-block-ui/dist/angular-block-ui.js"></script>    
    <script src="{{STATIC_URL}}bower_components/satellizer/satellizer.js"></script>

    <!-- inject:css -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->     
</head>
<body ng-controller="app.anonymousApp.controller">
    {% verbatim %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#manage-app-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Welcome to NDC</span>
            </div>

            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-right">
                    <button class="btn btn-primary" ng-click="signup()">signup</button>                    
                    <button class="btn btn-primary" ng-click="launch_app()">launch app</button>
                </form>            
            </div>

        </div><!-- /.container-fluid -->
    </nav>  
    {% endverbatim %}    

</body>
</html>