<html>
  <head>
    <base href="/">
    <title>ndc app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <script type="text/javascript">
        var SHARE_SETTING_JSON_STRING = '{{ SHARE_SETTING_JSON_STRING | safe}}';
    </script>


    {% load static from staticfiles %}
    <!-- 1. Load libraries -->
    <!-- IE required polyfills, in this exact order -->    
    <script src="{% static 'es6-shim.min.js' %}"></script>
    <script src="{% static 'system-polyfills.js' %}"></script>
    <script src="{% static 'angular2-polyfills.js' %}"></script>
    <script src="{% static 'system.src.js' %}"></script>
    <script src="{% static 'Rx.js' %}"></script>
    <script src="{% static 'angular2.dev.js' %}"></script>
    <script src="{% static 'router.dev.js' %}"></script>
    <script src="{% static 'http.dev.js' %}"></script>

    <script src="{% static 'ndc_bundle.js' %}"></script>
  </head>

  <!-- 3. Display the application -->
  <body>
    <a href="{% url 'logout_named_url' %}">Logout</a>  
    <my-app>Loading...</my-app>
    <script>
      System.import('app/main').then(null, console.error.bind(console));
    </script>
  </body>

</html>